<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Henry</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sair()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="colorb">
  <div class="main">
    <ion-avatar class="avatar" *ngIf="user" slot="start">
      <img src="{{ user.imageSrc }}" />
    </ion-avatar>
    <ion-avatar class="avatar" *ngIf="!user" slot="start">
      <img src="./assets/icon/support.png" />
    </ion-avatar>

    <ion-card class="card-avatar">
      <ion-card-header>
        <!--          <ion-card-subtitle>{{name}}</ion-card-subtitle> -->
        <ion-card-subtitle *ngIf="user">{{ user.name }}</ion-card-subtitle>
        <ion-card-title *ngIf="pontuacaoGlobal < 850 && pontuacaoGlobal > 0"> Pontuação Global: <span
            class="pontos">{{ pontuacaoGlobal }}</span>
        </ion-card-title>
        <ion-card-title *ngIf="pontuacaoGlobal >=850"> Pontuação Global: {{ pontuacaoGlobal }} </ion-card-title>
        <ion-card-title *ngIf="!pontuacaoGlobal"> Nenhuma corrida finalizada </ion-card-title>
      </ion-card-header>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal >= 950">
        <h2>A lenda das ruas!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal >= 900 && pontuacaoGlobal < 950">
        <h2>Herói do asfalto!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal >= 850 && pontuacaoGlobal < 900">
        <h2>Prodígio do volante!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal >= 500 && pontuacaoGlobal < 850">
        <h2>Cangaceiro do tráfego!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal < 500 && pontuacaoGlobal > 0">
        <h2>À espera de um milagre!</h2>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card class="card" *ngIf="travel.actualScore !== undefined">
    <ion-card-header>
      <ion-card-subtitle>Corrida em progresso</ion-card-subtitle>
      <ion-card-title *ngIf="travel.actualScore < 850"> Pontuação: <span class="pontos">{{ travel.actualScore }}</span>
      </ion-card-title>
      <ion-card-title *ngIf="travel.actualScore >= 850"> Pontuação: {{ travel.actualScore }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2> {{ travel.model }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-card class="card" *ngIf="travel.infractions.length > 0">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-card-header>
              <ion-card-title> Infrações: </ion-card-title>
            </ion-card-header>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <ion-list>
          <ion-item *ngFor="let item of travel.infractions">
            <ion-label>{{ item.title }}
              <h3>Pontos: <span class="pontos">- {{ item.scoreLost }}</span></h3>
            </ion-label>

          </ion-item>

        </ion-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-card>
  <ion-grid>
    <ion-row *ngIf="pontuacaoGlobal">
      <ion-button (click)="goToTravelHistory()" shape="round" fill="outline" color="dark" class="btn">Histórico de
        Corridas
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>