<ion-header>
  <ion-toolbar>
    <ion-title>Henry</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sair()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="colorb">
  <div class="main">
    <ion-avatar class="avatar" *ngIf="user" slot="start">
      <img src="{{ user.imageSrc }}" />
    </ion-avatar>
    <ion-avatar class="avatar" *ngIf="!user" slot="start">
      <img src="./assets/icon/support.png" />
    </ion-avatar>

    <ion-card class="card-avatar">
      <ion-card-header>
        <!--          <ion-card-subtitle>{{name}}</ion-card-subtitle> -->
        <ion-card-subtitle *ngIf="user">{{ user.name }}</ion-card-subtitle>
        <ion-card-title *ngIf="pontuacaoGlobal"> Pontuação Global: {{ pontuacaoGlobal }} </ion-card-title>
        <ion-card-title *ngIf="!pontuacaoGlobal"> Nenhuma corrida finalizada </ion-card-title>
      </ion-card-header>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal >= 900">
        <h2>Classificação: A lenda das ruas!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal >= 750 && pontuacaoGlobal < 900">
        <h2>Classificação: Heroi do asfalto!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal > 500 && pontuacaoGlobal < 750">
        <h2>Classificação: Prodigo do volante!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal > 300 && pontuacaoGlobal < 500">
        <h2>Classificação: Cangaceiro do trafego!</h2>
      </ion-card-content>
      <ion-card-content fullscreen *ngIf="pontuacaoGlobal <= 300">
        <h2>Classificação: A espera de um milagre!</h2>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card class="card" *ngIf="travel.actualScore !== undefined">
    <ion-card-header>
      <ion-card-subtitle>Corrida em progresso</ion-card-subtitle>
      <ion-card-title> Pontuação: {{ travel.actualScore }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2> Carro: {{ travel.model }}</h2>
    </ion-card-content>
  </ion-card>
  <ion-card class="card" *ngIf="travel.infractions.length > 0">
    <ion-card-header>
      <ion-card-title> Infrações: </ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of travel.infractions">
        <ion-label>{{ item.title }}
          <ion-label color="tertiary" *ngIf="item.scoreLost <= 30">Pontos: - {{ item.scoreLost }}</ion-label>
          <ion-label color="warning" *ngIf="item.scoreLost > 30 && item.scoreLost < 80">Pontos: - {{ item.scoreLost }}
          </ion-label>
          <ion-label color="danger" *ngIf="item.scoreLost > 80">Pontos: - {{ item.scoreLost }}</ion-label>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-button (click)="goToTravelHistory()" shape="round" fill="outline" color="dark" class="btn">Histórico Corridas
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>