:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}
.colorb{
    background-color: #325aa8;
}
.avatar {
    margin-left: auto;
    margin-right: auto;
}

.main{
    margin-top: 10%;
}
.card-avatar{
    margin-top: -8%;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    width: 75%
}
