<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Histórico de corridas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="travels">
        <ion-item *virtualItem="let travels;">
          <ion-label>
            <h2>{{ travels.store.name }} </h2>
            <h3>Veículo: {{ travels.model }}</h3>
            <h3 *ngIf="travels.status == 2">Corrida Finalizada</h3>
            <h3 *ngIf="travels.status == 1">Corrida em Andamento</h3>
            <h3 *ngIf="travels.status == 0">Corrida Criada</h3>
            <br>
            <p>Data Inicio: {{ travels.startDate | date: 'dd/MM/yyyy' }}</p>
            <p>Data Fim: {{ travels.endDate | date: 'dd/MM/yyyy' }}</p>
          </ion-label>
          <ion-note slot="end" color="danger" *ngIf="travels.actualScore <= 300">Pontuação: {{ travels.actualScore }}</ion-note>
          <ion-note slot="end" color="warning" *ngIf="travels.actualScore > 300 && travels.actualScore < 600">Pontuação: {{ travels.actualScore }}</ion-note>
          <ion-note slot="end" color="primary" *ngIf="travels.actualScore >= 600">Pontuação: {{ travels.actualScore }}</ion-note>
        </ion-item>
    </ion-virtual-scroll>
    <ion-card *ngIf="travels.lenght == 0">
      <ion-card-header>
          <ion-card-subtitle>Nenhuma corrida Encontrada</ion-card-subtitle>
        </ion-card-header>
  </ion-card>
</ion-content>
