<ion-header>
  <ion-toolbar color="primary" class="fonte">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Histórico de corridas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="travels">
    <ion-item *virtualItem="let travels;" lines="none">
      <span class="vl"></span>
      <div class="dot">
        <div class="dot2"></div>
      </div>

      <ion-label class="info">
        <h1>{{ travels.store.name }}</h1>
        <h2>{{ travels.startDate | date: 'dd/MM/yyyy' }} - {{ travels.endDate | date: 'dd/MM/yyyy' }}</h2>
        <h3>{{ travels.model }} </h3>
        <h3><b>{{ (travels.finalPrice ? travels.finalPrice : travels.startPrice) | currency: "BRL" }}</b></h3>
        <br>
        <h3 *ngIf="travels.status == 2" class="finished">Corrida Finalizada</h3>
        <h3 *ngIf="travels.status == 1" class="progress">Corrida em Andamento</h3>
        <h3 *ngIf="travels.status == 0">Corrida Criada</h3>
        
        <h2 *ngIf="travels.actualScore < 850">Pontuação: 
          <span class="vermelho">{{ travels.actualScore }}</span>
        </h2>
        <h2 *ngIf="travels.actualScore >= 850  && travels.actualScore < 900">Pontuação:
          <span class="amarelo">{{ travels.actualScore }}</span>
        </h2>
        <h2 *ngIf="travels.actualScore >= 900  && travels.actualScore < 950">Pontuação:
          <span class="azul">{{ travels.actualScore }}</span>
        </h2>
        <h2 *ngIf="travels.actualScore >= 950">Pontuação: 
          <span class="verde">{{ travels.actualScore }}</span>
        </h2>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
  <ion-card *ngIf="travels.lenght == 0">
    <ion-card-header>
      <ion-card-subtitle>Nenhuma corrida Encontrada</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>